<header>
<h1>GLOBO-TRON 5000</h1>
</header>
<div class="player">
    <div class="pl"></div>
    <div class="title"></div>
    <div class="artist"></div>
    <div class="cover"></div>
    <div class="volume"></div>
    <div class="tracker"></div>
    <div class="controls">
        <div id="play" class="icon-play3" onclick="playSound()"></div>
        <div class="pause icon-pause2" onclick="pauseSound()"></div>
        <div class="rew icon-backward2" onclick="prevSound()"></div>
        <div class="fwd icon-forward3" onclick="nextSound()"></div>
        <div class="icon-menu4" onclick="loadSound('http://api.soundcloud.com/tracks/33427584?client_id=15356ad1b6d2b2a0b14b715797d57550')"></div>
    </div>
<!--     <ul id="playlist" class="list-group">
        <li class="list-group-item" audiourl="01.mp3" cover="cover1.jpg" artist="Artist 1">ODEZSA - Find Your Friends</li>
        <li class="list-group-item" audiourl="02.mp3" cover="cover2.jpg" artist="Artist 2">02.mp3</li>
        <li class="list-group-item" audiourl="03.mp3" cover="cover3.jpg" artist="Artist 3">03.mp3</li>
        <li class="list-group-item" audiourl="04.mp3" cover="cover4.jpg" artist="Artist 4">04.mp3</li>
        <li class="list-group-item" audiourl="05.mp3" cover="cover5.jpg" artist="Artist 5">05.mp3</li>
        <li class="list-group-item" audiourl="06.mp3" cover="cover6.jpg" artist="Artist 6">06.mp3</li>
        <li class="list-group-item" audiourl="07.mp3" cover="cover7.jpg" artist="Artist 7">07.mp3</li>
        <li class="list-group-item" audiourl="08.mp3" cover="cover7.jpg" artist="Artist 7">08.mp3</li>
        <li class="list-group-item" audiourl="09.mp3" cover="cover7.jpg" artist="Artist 7">09.mp3</li>
        <li class="list-group-item" audiourl="10.mp3" cover="cover7.jpg" artist="Artist 7">10.mp3</li>
    </ul> -->
</div>

<br>



<iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/users/1539950/favorites" width="100%" height="465" scrolling="no" frameborder="no"></iframe>


<%= javascript_include_tag 'sc-widget' %>


