<header>
<h1>GLOBO-TRON 5000</h1>
</header>
<div class="player">
    <div class="pl"></div>
    <div class="title"></div>
    <div class="artist"></div>
    <div class="cover"></div>
    <div class="controls">
        <div class="play icon-play3"></div>
        <div class="pause icon-pause2"></div>
        <div class="rew icon-backward2"></div>
        <div class="fwd icon-forward3"></div>
        <div id="playlist-toggle" class="icon-menu4" onclick="togglePlaylist()"></div>
    </div>
    <div class="volume"></div>
    <div class="tracker"></div>
</div>

<ul id="playlist" class="show">
    <li audiourl="01.mp3" cover="cover1.jpg" artist="Artist 1">ODEZSA - Find Your Friends</li>
    <li audiourl="02.mp3" cover="cover2.jpg" artist="Artist 2">02.mp3</li>
    <li audiourl="03.mp3" cover="cover3.jpg" artist="Artist 3">03.mp3</li>
    <li audiourl="04.mp3" cover="cover4.jpg" artist="Artist 4">04.mp3</li>
    <li audiourl="05.mp3" cover="cover5.jpg" artist="Artist 5">05.mp3</li>
    <li audiourl="06.mp3" cover="cover6.jpg" artist="Artist 6">06.mp3</li>
    <li audiourl="07.mp3" cover="cover7.jpg" artist="Artist 7">07.mp3</li>
    <li audiourl="08.mp3" cover="cover7.jpg" artist="Artist 7">08.mp3</li>
    <li audiourl="09.mp3" cover="cover7.jpg" artist="Artist 7">09.mp3</li>
    <li audiourl="10.mp3" cover="cover7.jpg" artist="Artist 7">10.mp3</li>
    <li audiourl="11.mp3" cover="cover7.jpg" artist="Artist 7">11.mp3</li>
    <li audiourl="12.mp3" cover="cover7.jpg" artist="Artist 7">12.mp3</li>
    <li audiourl="13.mp3" cover="cover7.jpg" artist="Artist 7">13.mp3</li>
    <li audiourl="14.mp3" cover="cover7.jpg" artist="Artist 7">14.mp3</li>
    <li audiourl="15.mp3" cover="cover7.jpg" artist="Artist 7">15.mp3</li>
    <li audiourl="16.mp3" cover="cover7.jpg" artist="Artist 7">16.mp3</li>
    <li audiourl="17.mp3" cover="cover7.jpg" artist="Artist 7">17.mp3</li>
    <li audiourl="18.mp3" cover="cover7.jpg" artist="Artist 7">18.mp3</li>
    <li audiourl="19.mp3" cover="cover7.jpg" artist="Artist 7">19.mp3</li>
    <li audiourl="20.mp3" cover="cover7.jpg" artist="Artist 7">20.mp3</li>
</ul>

