/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: gray;
}

.twitter-feed {

  border-radius: 5px;
  padding: 10px 0px 5px 20px;
  width: 320px;
  margin-bottom: 30px;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  unicode-bidi: bidi-override;
  max-height: 100vh;
  overflow-y: scroll;
  direction: rtl; 
}

// move bird to the left
.dropdown-toggle {
  margin-right: 10px;
}

.dropdown-menu {
  // margin-right: 14px;
  max-height: 100vh;
  // overflow-y: scroll;
  // opacity: 0.8;
  direction: ltr;
}

.media-left {
  float: left !important;
}
