/* Page Styles*******************************************/

body {
  background-color: black;
}

.header {
  width: 100%;
  padding-bottom: -10px;
}

h1 {
  font-size: 24px;
  color: black;
  text-align: center;
  padding-top: 5px;
  font-family: 'Raleway', sans-serif;
}

.dropdown {
  position: absolute;
  z-index: 4;
}

.dropdown-menu {
  font-family: 'Raleway', sans-serif;
  color: black !important;
}

#hexagon {
  width: 200px;
  height: 35px;
  background: white;
  position: relative;
  margin: 50px auto 10px;
}
#hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 25px solid white;
}
#hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 25px solid white;
}


.city-container {
  z-index: 2;
  margin: auto;
  width: 20%;
  position: absolute;
  z-index: 2;
  bottom: 450px;

}

#city {
  text-align: center;
  opacity: 1;
  padding: 20px;
  border: 1px solid white;
  background-color: rgba(0, 0, 13, 0.3);
  color: white;
  z-index: 2;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.links{
  font-size: 20px !important;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

a {
  color: white !important;
}
 
a:hover {
  color: #FF5500 !important;
  text-decoration: none;
}

p {
  font-size: 20px !important;
}

.modal-body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.modal-header {
  font-family: 'Francois One', sans-serif;
  font-size: 36px;
}

.btn-primary:hover {
  background-color: #FF5500 !important;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  border: none;
}

.x {
  color: black !important;
}

.x:hover {
  background-color: none !important;
  color: #FF5500 !important
}

.flash-messages {
  text-align: center;
  width: 40%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/*SOUNDCLOUD STYLES*********************************************************************************/

.player {
	width: 100%;
	height: 30px;
	background-color: #ecf0f1;
  position: absolute;
  top: 220px;
  display: none;
  z-index: 2;
	// border: 1px solid #bdc3c7;
}

#widget {
  display: none;
  position: absolute;
}

#load-playlist {
  z-index: 2; 
  position: absolute;
  top: 180px;
}

.controls {
	padding: 5px;
  position: absolute;
  z-index: 2;
  top: 220px;
  color: white;
	div {
		display: inline;
		padding: 16px;
	}
	div:hover {
		color: #FF5500;
	}
}

#playlist {
  position: absolute;
  z-index: 2;
  top: 260px;
	float: right;
	width: 400px;
	margin: 0;
	list-style: none;
	padding: 0px;
	li {
    padding: 10px 20px;
    color: white;
    background-color: #2c3e50;
    opacity: .96;
    margin: 16px;
	}
	li:hover {
		background-color: #FF5500;
		cursor: pointer;
	}
}

.show, .hide {
	@include transition-property(transform);
	@include transition-duration(3.0s);
	@include transition-timing-function(ease-out);
	@include transition-delay(0.5s);
	opacity: 0;
}

.show {
	opacity: 1;
}


/*TWITTER STYLES*********************************************************************************/

.twitter-feed {
  border-radius: 5px;
  padding: 10px 10px 5px 10px;
  width: 320px;
  margin-bottom: 30px;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  unicode-bidi:bidi-override;
  max-height: 100vh;
  overflow-y: scroll;
  direction: rtl;
  position: absolute;
}

/*move bird to the left*/
// .dropdown-toggle {
//   margin-right: 10px;
// }

// .dropdown-menu {
//   /*margin-right: 14px;*/
//   // max-height: 100vh;
//   // overflow-y: scroll;
//   // direction: rtl;
//   direction: ltr;
//   max-height: 100vh;
// }

// .media-left {
//   float: left !important;
// }

GLOBE STYLES
#earth_div {
  z-index: -1;
  position: absolute;
}

.we-pm-icon {
  background-image: url(image_path('marker-48.png')) !important;
  background-size: 100%;
  width: 24px !important;
  height: 24px !important;
  margin-top: -21px !important;
  cursor: pointer;
  position: absolute;
  z-index: 1 !important;
}

.we-pm-icon:hover {
  background-image: url(image_path('orange-48.png')) !important;
//  background-size: 100%;
//  width: 25px !important;
//  height: 41px !important;
//  margin-left: -25px !important;
//  margin-top: -52px !important;
//  z-index: 2;
}

.hidden {
  visibility: hidden;
}

.cesium-credit-textContainer {
  visibility: hidden;
}
