/* Page Styles*******************************************/

.header {
  width: 100%
}

h1 {
  margin: 10px auto;
  font-size: 36px;
  color: white;
  padding: 12px 0px;
  width: 30%;
  text-align: center;
  height: initial;
  border-bottom: 1px solid white;
}


.h2-container {
  position: absolute;
  z-index: 2 !important;
}

h2 {
  text-align: center;
  opacity: 1;
  padding: 20px;
  border: 1px solid white;
  background-color: rgba(0, 0, 13, 0.3);
  color: white;
}

/*SOUNDCLOUD STYLES*********************************************************************************/

body {
  background-color: black;
}

header {
  position: absolute;
  z-index: -2;
}

.links{
  font-size: 20px !important;
  color: white;
  float: right;
  padding-top: 0px;
}

.player {
	width: 100%;
	height: 30px;
	background-color: #ecf0f1;
  position: absolute;
  top: 220px;
  display: none;
  z-index: 2;
	// border: 1px solid #bdc3c7;
}

#widget {
  display: none;
  position: absolute;
}

#load-playlist {
  z-index: 2; 
  position: absolute;
  top: 180px;
}

.controls {
	padding: 5px;
  position: absolute;
  z-index: 2;
  top: 220px;
  color: white;
	div {
		display: inline;
		padding: 16px;
	}
	div:hover {
		color: #FF5500;
	}
}

#city {
  position: absolute;
  top: 120px;
  color: white;
  z-index: 2 !important; 
}

#playlist {
  position: absolute;
  z-index: 2;
  top: 260px;
	float: right;
	width: 400px;
	margin: 0;
	list-style: none;
	padding: 0px;
	li {
    padding: 10px 20px;
    color: white;
    background-color: #2c3e50;
    opacity: .96;
    margin: 16px;
	}
	li:hover {
		background-color: #FF5500;
		cursor: pointer;
	}
}

.show, .hide {
	@include transition-property(transform);
	@include transition-duration(3.0s);
	@include transition-timing-function(ease-out);
	@include transition-delay(0.5s);
	opacity: 0;
}

.show {
	opacity: 1;
}


/*TWITTER STYLES*********************************************************************************/

.twitter-feed {
  border-radius: 5px;
  padding: 10px 10px 5px 10px;
  width: 320px;
  margin-bottom: 30px;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  unicode-bidi:bidi-override;
  max-height: 100vh;
  overflow-y: scroll;
  direction: rtl;
  position: absolute;
}

/*move bird to the left*/
// .dropdown-toggle {
//   margin-right: 10px;
// }

// .dropdown-menu {
//   /*margin-right: 14px;*/
//   // max-height: 100vh;
//   // overflow-y: scroll;
//   // direction: rtl;
//   direction: ltr;
//   max-height: 100vh;
// }

// .media-left {
//   float: left !important;
// }

GLOBE STYLES
#earth_div {
  z-index: -1;
  position: absolute;
}

.we-pm-icon {
  background-image: url(image_path('marker-48.png')) !important;
  background-size: 100%;
  width: 24px !important;
  height: 24px !important;
  margin-top: -21px !important;
  cursor: pointer;
  position: absolute;
  z-index: 1 !important;
}

.we-pm-icon:hover {
  background-image: url(image_path('orange-48.png')) !important;
//  background-size: 100%;
//  width: 25px !important;
//  height: 41px !important;
//  margin-left: -25px !important;
//  margin-top: -52px !important;
//  z-index: 2;
}

.hidden {
  visibility: hidden;
}

.cesium-credit-textContainer {
  visibility: hidden;
}
