<!DOCTYPE html>
<html>
<head>
  <title>Globotron-5000</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app onload="initialize()">
  <div id="earth_div"></div>

<%= yield %>

</body>
</html>
